{
    "token": "x",
    "serverID": "x",
    "prefix": ",",
    "colorRoles": {//X is replaced with role id
        "color1": "x",
        "color2": "x"
    },
    "vipRole": "x",
    "boostRole": "x"
}
